body {
	padding: 0;
	font-family: 'Roboto', sans-serif;
	background-color: #fff !important;
	background:url(../img/linea.png) center bottom no-repeat;
}

a:hover{
	text-decoration: none !important;
}

h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 1.8rem;
	color: #000 !important;
}

.h2, h2 {
	font-size: 2rem;
	font-family: 'Roboto', sans-serif;
}

header {
	position: absolute;
	z-index: 99999;
}

.logo {
	width: 130px;
}

.logo img {
	width: 130px;
}

.img-fluid {
	max-width: none;
	height: 639px;
	/* height: 639px; */
	/* text-align: center; */
}

.info-carousel {
    position: absolute;
    z-index: 99999;
    text-align: left;
    color: #fff;
    width: 100%;
}

header {
	width: 100%;
}

.info-carousel .nombre-destacado {
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
	font-size: 3rem;
	font-family: 'Roboto', sans-serif;
	line-height: 5rem;
	padding-bottom: 10px;
	padding-left: 20px;
}

.sumate-whatsapp h1{
	font-size: 2rem;
}


.barrios{
	font-size: 1rem;
}

.info-carousel p {
	font-size: 1.8rem;
}

.info-carousel .line {
	width: 130px;
	height: 6px;
	background-color: #fff;
	display: inline-block;
	margin: 18px 0 30px;
}


.carousel {
	margin-bottom: 0;
}

.rrss{
	background-color: #b8b4ab;
}

.rrss img {
	height: 35px;
	margin: 12px auto;
	display: inline-block;
}
.rrss .wrapper{
	padding: 0px;
	text-align: center;
	background-color: #fff;
	border-radius: 100%;
	height: 60px;
	width: 60px;
	display: inline-block;
	margin-left: 10px;
}

.formulario {
	background-color: #fff;
	color: #000;
}

.formulario p {
	color: #000;
	font-size: 0.9rem;
	line-height: 1.5rem;
	border-bottom: 1px solid #3c79e0;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

label {
	color: #fff;
	/* font-weight: 700; */
	font-size: 1rem;
	margin-bottom: 3px;
}

.form-control {
	background-color: transparent;
	border: 0;
	border: 1px solid #fff;
	border-radius: 6px;
	padding: 22px 12px;
	color: #fff;
	font-size: 1.1rem;
}

.form-control::placeholder {
	color: #cadeff;
	opacity: 1;
}

.form-control:focus {
  background-color: transparent;
  color: #fff;
  border-color: #fff;
  outline: 0 !important;
  box-shadow: 0;
  box-shadow: none;
}

.btn {
	border-radius: 7px;
	background-color: #fff;
	text-transform: uppercase;
	font-size: 1.2rem;
	color: #251f35;
	/* font-weight: 700; */
	border: 0;
	font-family: 'Roboto', sans-serif;
	width: 100%;
	height: auto;
}

.btn:hover {
	background-color: #feb715;
	color: #251f35;
}

.letter {
	background-color: #fff;
	margin-top: 0;
}

.info {
	padding: 60px 90px 90px;
}


.info p {
	font-size: 1.3rem;
	margin-bottom: 2rem;
}

.info strong {
	font-family: 'Roboto', sans-serif;
}

.info .destacado {
	font-family: 'Roboto', sans-serif;
	font-size: 2.2rem;
	line-height: 2.5rem;
	color: #448aff;
}

footer {
	text-align: center;
}

.copyright {
	font-size: 0.8rem;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill{
  transition-delay: 3600s;
}

input:required {
    box-shadow: none;
}

.carousel-control-next, .carousel-control-prev {
	width: 10%;
}

.g-recaptcha {
transform:scale(0.9);
-webkit-transform:scal(0.9);
transform-origin:0 0;
-webkit-transform-origin:0 0;
} 

.carousel-indicators {visibility: hidden;}

.carousel-item .mobile {
	display: none;
}

.carousel-fade .active.left {
        left:0;
        opacity:0;
        -webkit-transition: opacity 1s; /*time < to $.carousel.interval setup */
        -moz-transition: opacity 1s; 
        -ms-transition: opacity1s; 
        -o-transition: opacity 1s; 
        transition: opacity  1s;
        z-index:2;

}

.carousel-fade .next {

    left:0;
    opacity:1;
    z-index:1;

}

.btn-sumate {
	width: 170px !important;
	background-color: #ffd401;
	text-align: center;
	font-size: 1.2rem;
	/* color: #000; */
}

.btn-sumate a {
	color: #000;
} 

.btn-sumate:hover {
	background-color: #feb715;
}

.btn-sumate:hover a {
	text-decoration: none;
}


.botones{
	text-align: center;
}

.formulario iframe{
	border: 0px;
	width: 100%;
	height: 700px;
}
video{
	display: block;
	width: 100%;
	max-height: 1450px;
}
.btn.btn-fernan{
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #fff;
    font-size: 20px;
    color: #000;
    font-weight: 500;
    border: 5px solid #000;
    height: auto;
    width: auto;
	transition: all 0.3s ease;
}
.btn.btn-fernan:hover{
	background-color: #000;
	color: #fff;
	border: 5px solid #000;
}
.img-carousel{
	display: block;
	height: 250px;
	background-size: cover;
	background-position: center;
	width: 100%;
	background-repeat: no-repeat;
}

.rrss{
	text-align: center;
	padding: 30px;
	fill: #000;
}

.jovenes-fernan h2{
	background-color: #b3a8d2;
}
.ciudadanos-fernan,.jovenes-fernan{
	width: 65%;
    margin: 0 auto;
}
.ciudadanos-fernan h2{
	background-color: #808e9c;
}

.jovenes-fernan h2,
.ciudadanos-fernan h2{
	text-align: center;
	text-transform: uppercase;
	padding: 10px 30px;
	border-radius: 10px;
	color: #fff;
	font-weight: 500;
}

.btn-quiros{
	text-align: center;
	text-transform: uppercase;
	padding: 10px 30px;
	border-radius: 10px;
	border: 3px solid #696969;
	color: #696969;
	font-weight: 500;
	margin-bottom: 10px;
}

.btn-quiros:hover{
	background-color: #696969;
	color: #fff;
}


@media (max-width: 1200px)  {

	h1 {
		font-size: 1.8rem;
	}

	.info {
	padding: 60px 120px 90px;
	}

	.btn {
		font-size: 0.9rem;
	}

	.form-group {
		margin-bottom: 0.5rem;
	}

	.info-carousel .nombre-destacado {
	font-size: 2.2rem;
	line-height: 4rem;
	}

	.info-carousel p {
	font-size: 1.3rem;
	}

	.formulario p {
		line-height: 20px;
	}
}

@media (max-width: 992px)  {

	.info {
	padding: 60px 70px 90px;
	}

	.info strong {
		font-size: 2rem;
		line-height: 2.7rem;
		margin-bottom: 1rem;
	}
}


@media (max-width: 768px)  {

	form {
	padding: 0;
	}

	.carousel-item .mobile {
	display: block;
	}

	.carousel-item .desktop {
	display: none;
	}


	.carousel {
		margin-bottom: 2rem;
	}

	.info {
	padding: 30px 20px;
	}

	.info strong {
		font-size: 1.5rem;
		line-height: 1.9rem;
		margin-bottom: 0rem;
	}

	.btn {
		font-size: 1.1rem;
		width: 100%;
	}

	.btn-sumate {
		width: 130px;
	}

	h1 {
	font-size: 2.5rem;
	}
	.logo img {
		width: 120px;
	}

	.container {
		padding-right: 0;
		padding-left: 0;
	}

	.info-carousel .nombre-destacado {
		font-size: 3rem;
		line-height: 3rem;
		margin-bottom: 20px;
	}

	.formulario p {
		font-size: 1.3rem;
		line-height: 1.6rem !important;
	}

	.formulario {
		height: auto;
	}

	.carousel {
		margin-bottom: 0rem;
	}

	.carousel-indicators {visibility: visible;}

	.carousel-control-prev,
	.carousel-control-next {
		display: none;
	}

	.info-carousel {
		margin-bottom: 40px;
}

	.g-recaptcha {
transform:scale(1);
-webkit-transform:scal(1);
transform-origin:0 0;
-webkit-transform-origin:0 0;
} 
}
